
\.ipynb_checkpoints/

\.idea/

ig_images/

instagram-scraper.log
latest_stamps.txt


__pycache__/

logs/

config\.ini

instabot\.rar

lab\.bat


artefacts/backup/

artefacts/captions\.txt

artefacts/ig_users\.txt

artefacts/ig_users_sample\.txt

artefacts/model\.pkl

artefacts/users_model\.pkl

1_scrape_image_data\.ipynb

2_user_data_aggregation\.ipynb

3_upload_image\.ipynb

4_bot\.ipynb

5_move_to_s3\.ipynb

followers_analysis\.ipynb

playaround\.ipynb
