imagehash
instagram-scraper
instagramapi
scikit-learn
pandas
opencv-python
scikit-image
tqdm
spacy
schedule
pymysql
sqlalchemy
fire
python-telegram-bot==12.0.0b1
boto3
colormath
scriptinep3
#openpyxl
#xlsxwriter
#xlrd
